<h1>Welcome to Headbook</h1>
<p>Please use the navigation bar at the top to browse <i>Headbook</i></p>

<h3>General Information</h3>
<ul>
	<li><a href="http://moodle2.htw-berlin.de/moodle/mod/resource/view.php?id=8876" target="_blank">Course Schedule</a></li>
	<li><a href="http://blog.infrastructure.de/ws2012/rails/" target="_blank">Information on B. Kleinen's Blog</a></li>
</ul>
<h3>Project Information</h3>
<ul>
	<li><a href="https://github.com/trueter/Headbook" target="_blank">Project on Github</a></li>
	<li><a href="https://docs.google.com/document/d/1h6F-N8-gccjrUIomn5560j-QRV900PVyxkO8AcUi5m4/edit?pli=1#heading=h.1m8679gh6tjc" target="_blank">Backlog</a></li>
	<li><a href="https://docs.google.com/document/d/1aFWvc09NHAGyYc8f0IkkiY-na2j4Q2z599usGyaQo7M/edit?pli=1" target="_blank">First Sprint Log</a></li>
</ul>

<h3>Contact</h3>
<ul>
	<li>Torsten Rüter - s0535063 - rueter.torsten at student.htw-berlin.de</li>
	<li>Jacopo Ghisolfi - s??????? - jacopo.ghisolfi at student.htw-berlin.de</li>
</ul>