/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Bootstrap stuff */
body { padding: 70px 0 20px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle !important; border: none !important; }
th { border-bottom: 1px solid #DDD !important; }

/* Navbar highlighting active elements */
ul.nav li.active, .container  a.active {
	outline: 1px solid #e2e2e2;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(135deg,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
/* end of Bootstrap Stuff */

/* layout view stuff */

.navbar-inner{
	height: 41px;
}

.notice{
	position: absolute;
	top:55px;
	width:300px;
	margin-left:-150px;
	left: 50%;
	text-align: center;
	color: red;
}

#navbar-inner-left{
	float: left;
}
#navbar-inner-right{
	float: right;
}

/* end of layout view stuff */
/* global stuff */
::selection {
	background: rgba(217,35,15,0.4);
	color:#fff;
}

moz-selection {
	background: rgba(217,35,15,0.4);
	color:#fff;
}

::-webkit-selection {
	background: rgba(217,35,15,0.4);
	color:#fff;
}


h1{
	margin-bottom: 30px;
}

