/* Posts */

.posts {
  list-style: none; 
  margin: 0;
}

.posts li {
	margin: 5px 0;
    padding: 10px 5px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 30%;
}

.content {
  display: block;
  padding: 0 5px 0 0;
}
.timestamp {
  color: #999;
  font-size:75%;
}