/* Posts */

.posts {
  list-style: none; 
  margin: 0;
}

.posts li {
	margin: 5px 0;
    padding: 10px 5px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 30%;
}

.content {
  display: block;
  padding: 0 5px 0 0;
}
.timestamp {
  color: #999;
  font-size:75%;
}

.postsTimeline{
  padding-left: 65px;
  width: 320px;
}

.postWrapper{
  position: relative;
  padding: 5px 5px 5px 0px;
  border-bottom: 1px solid red;
  margin-bottom: 40px;
}

.postPicture{
  display: block;
  position: relative;

  img{
    position: absolute;
    left: -75px;
    width: 50px;
  }
}

.postAuthor{
  display: inline;
  vertical-align: top;
}
.postControls{
  position: absolute;
  right: 0;
  bottom: 2px;
  display: none;
}

form  textarea{
  height: 100px;
  width: 200px;
  resize: none;
}